@model ehpad.ORM.Injection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Injection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccineDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReminderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReminderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine.Drug.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.People)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.Name)  @Html.DisplayFor(model => model.People.Firstname)
        </dd>
    </dl>
</div>
<div>
    <!--@Html.ActionLink("Edit", "Edit", new { idVaccine = Model.Vaccine.Id, idPeople = Model.People.Id }) |-->
    <a asp-action="Index">Back to List</a>
</div>
