@model IEnumerable<ehpad.ORM.Injection>

@{
    ViewData["Title"] = "Index";
}

<h1>Injections</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VaccineDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReminderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People)
            </th>
            <th class="align-right">
                <a asp-action="Create"><img src="~/image/ajouter.png" alt="ajouter" width="30" height="30" /></a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReminderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccine.Drug.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.People.Name) @Html.DisplayFor(modelItem => item.People.Firstname)
            </td>
            <td class="align-right">
                <a asp-action="Details" asp-route-idVaccine=@item.Vaccine.Id asp-route-idPeople=@item.People.Id><img src="~/image/visible.png" alt="visible" width="30" height="30" /></a>
                <a asp-action="Delete" asp-route-idVaccine=@item.Vaccine.Id asp-route-idPeople=@item.People.Id><img src="~/image/supprimer.png" alt="supprimer" width="30" height="30" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
