@model ehpad.ORM.Vaccine

@{
    ViewData["Title"] = "SUpprimer";
}

<div class="second-main-bg">
    <h1>Supprimer</h1>

    <div>
        <h4>
            Vaccin
            <a asp-action="Index"><img src="~/image/arriere.png" alt="page index" width="30" height="30" /></a>
        </h4>
        <hr />
        <dl class="row col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lot)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lot)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Drug)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Drug.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>
        </dl>
        <div class="col-sm-12">
            <button type="button" class="btn btn-danger col-sm-3" data-toggle="modal" data-target="#addMyModal">Supprimer</button>
        </div>

        <div class="modal fade" id="addMyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Etes-vous sûr de vouloir supprimer ?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="col-sm-12 container-row-wrap">
                                <input type="submit" value="Supprimer" class="btn btn-danger col-sm-5" />
                                <button type="button" class="btn btn-default offset-sm-2 col-sm-5" id="btnCloseIt" data-dismiss="modal">Annuler</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>