@model IEnumerable<ehpad.ORM.Vaccine>

@{
    ViewData["Title"] = "Index";
}

<h1>Vaccins</h1>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drug.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détail</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
